.donut-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.donut-svg {
  width: 100%;
  height: 100%;
}

.donut-icon-small .donut-svg {
  width: 60px;
  height: 60px;
}

.donut-icon-medium .donut-svg {
  width: 120px;
  height: 120px;
}

.donut-icon-large .donut-svg {
  width: 180px;
  height: 180px;
}

